.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  text-transform: uppercase;
  background-color: black;
  color: white;
}
.active {
  border-bottom: 2px solid lime;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5em;
}
.count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.25em;
  background-color: lime;
  color: black;
  font-weight: 600;
  border-radius: 50%;
  font-size: 0.75em;
  height: 1em;
  width: 1em;
}
