.snap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.88);
  min-height: calc(100vh - 64px);
  min-width: 100vw;
}
